Test:
  script:
  # this configures Django application to use attached postgres database that is run on `postgres` host
  # - export DATABASE_URL=postgres://postgres:@postgres:5432/python-test-app
  - apt-get update -qy
  - apt-get install python3
  - apt-get install -y python-dev python-pip
  - pip install django
  - apt-get install python
  - pip install pytest
  - pytest

